<!DOCTYPE html>
<html lang="es">
<head>
    <title>Informe Médico</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-content: space-evenly;
        }

        .header {
            text-align: center;
            padding: 1.2rem;
            background-color: #007BFF;
            color: #fff;
        }

        h1 {
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        section {
            margin-bottom: 10px;
            padding: 15px;
            background-color: #fff;
        }

        section h3 {
            font-weight: bold;
            margin-bottom: 10px;
            color: #007BFF;
        }

        p {
            text-align: justify;
            line-height: 1.6;
        }

        table {
            border-collapse: collapse;
            margin: 0 auto;
            width: 100%;
            border: 1px solid #ddd;
        }

        thead {
            background-color: #007BFF;
            color: #fff;
        }

        th, td {
            border: 2px solid #6b81d7;
            padding: 5px;
            text-align: center;
        }

        tbody tr:nth-child(odd) {
            background-color: #7aa4ea;
        }

        .pathologies-data {
            page-break-inside: avoid;
        }
    </style>
</head>
<body>
<section class="header">
    <h1>Informe Médico</h1>
</section>

<section class="patient-data">
    <h3>Datos del Paciente:</h3>
    <p><strong>Nombre:</strong> {{datos_paciente.nombre}} {{datos_paciente.primer_apellido}} {{datos_paciente.segundo_apellido}}</p>
    <p><strong>Número de Historia Clínica:</strong> {{datos_paciente.num_historia_clinica}}</p>
</section>

<section class="specialist-data">
    <h3>Datos del Especialista:</h3>
    <p><strong>Nombre:</strong> {{datos_especialista.nombre}} {{datos_especialista.primer_apellido}} {{datos_especialista.segundo_apellido}}</p>
    <p><strong>Número de Colegiado:</strong> {{datos_especialista.num_colegiado}}</p>
    <p><strong>Especialidad:</strong> {{datos_especialista.especialidad}}</p>
</section>

<section class="date-data">
    <h3>Datos de la Cita:</h3>
    <p><strong>Fecha:</strong> {{datos_cita.fecha}}</p>
    <p><strong>Hora:</strong> {{datos_cita.hora}}</p>
</section>

<section class="inform-data">
    <h3>Datos del Informe</h3>
    <p><strong>Motivo de la consulta:</strong> {{datos_informe.motivo}}</p>
    <p><strong>Contenido del informe:</strong></p>
    <p>{{{datos_informe.contenido}}}</p>
</section>

<section class="pathologies-data">
    <h3>Patologías encontradas</h3>
    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
        </tr>
        </thead>
        <tbody>
        {{#each datos_informe.patologias}}
            <tr>
                <td>{{this.nombre}}</td>
                <td>{{{this.descripcion}}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</section>
</body>
</html>