<!DOCTYPE html>
<html lang="es">
<head>
    <title>Informe Médico</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-content: space-evenly;
        }

        .header {
            text-align: center;
            padding: 1.2rem;
            background-color: #007BFF;
            color: #fff;
        }

        h1 {
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        section {
            margin-bottom: 10px;
            padding: 15px;
            background-color: #fff;
        }

        section h3 {
            font-weight: bold;
            margin-bottom: 10px;
            color: #007BFF;
        }

        p {
            text-align: justify;
            line-height: 1.6;
        }

        table {
            border-collapse: collapse;
            margin: 0 auto;
            width: 100%;
            border: 1px solid #ddd;
        }

        thead {
            background-color: #007BFF;
            color: #fff;
        }

        th, td {
            border: 2px solid #6b81d7;
            padding: 5px;
            text-align: center;
        }

				td {
					width: 200px;
				}

				th {
					background-color: #6b81d7;
					color: #fff;
					font-weight: bold;
				}

        .pathologies-data tbody tr:nth-child(odd) {
            background-color: #7aa4ea;
        }

        .pathologies-data {
            page-break-inside: avoid;
        }
    </style>
</head>
<body>
<section class="header">
    <h1>Informe Médico</h1>
</section>

<section class="patient-data">
	<h3>Datos del Paciente:</h3>
	<table>
		<tr>
			<th>Nombre</th>
			<td colspan="5">
				{{datos_paciente.datos_personales.nombre}}
				{{datos_paciente.datos_personales.primer_apellido}}
				{{datos_paciente.datos_personales.segundo_apellido}}
			</td>
		</tr>
		<tr>
			<th>DNI</th>
			<td colspan="2">{{datos_paciente.datos_personales.dni}}</td>
			<th>NHC</th>
			<td colspan="2">{{datos_paciente.num_historia_clinica}}</td>
		</tr>
		<tr>
			<th>Dirección</th>
			<td colspan="5">
				{{datos_paciente.datos_vivienda.tipo_via}} {{datos_paciente.datos_vivienda.nombre_via}},
				{{datos_paciente.datos_vivienda.numero}} {{datos_paciente.datos_vivienda.piso}}º
				{{datos_paciente.datos_vivienda.puerta}} {{datos_paciente.datos_vivienda.codigo_postal}}
				{{datos_paciente.datos_vivienda.municipio}} ({{datos_paciente.datos_vivienda.provincia}})
			</td>
		</tr>
		<tr>
			<th>Tel. fijo</th>
			<td colspan="2">{{datos_paciente.telefonos.tel_fijo}}</td>
			<th>Tel. móvil</th>
			<td colspan="2">{{datos_paciente.telefonos.tel_movil}}</td>
		</tr>
		<tr>
			<th>email</th>
			<td colspan="5">{{datos_paciente.datos_personales.email}}</td>
		</tr>
	</table>
</section>

<section class="specialist-data">
	<h3>Datos del Especialista:</h3>
	<table>
		<tr>
			<th>Nombre</th>
			<td colspan="5">
				{{datos_especialista.datos_personales.nombre}}
				{{datos_especialista.datos_personales.primer_apellido}}
				{{datos_especialista.datos_personales.segundo_apellido}}
			</td>
		</tr>
		<tr>
			<th>Nº Col.</th>
			<td colspan="2">{{datos_especialista.num_colegiado}}</td>
			<th>Especialidad</th>
			<td colspan="2">{{datos_especialista.especialidad}}</td>
		</tr>
		<tr>
			<th>email</th>
			<td colspan="5">{{datos_especialista.datos_personales.email}}</td>
		</tr>
	</table>
</section>

<section class="date-data">
	<h3>Datos de la Cita:</h3>
	<table>
		<tr>
			<th>Fecha</th>
			<td>{{datos_cita.fecha}}</td>
			<th>Hora</th>
			<td>{{datos_cita.hora}}</td>
		</tr>
	</table>
</section>

<section class="inform-data">
    <h3>Datos del Informe</h3>
    <p><strong>Motivo de la consulta:</strong> {{datos_informe.motivo}}</p>
    <p><strong>Contenido del informe:</strong></p>
    <p>{{{datos_informe.contenido}}}</p>
</section>

<section class="pathologies-data">
    <h3>Patologías encontradas</h3>
    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
        </tr>
        </thead>
        <tbody>
        {{#each datos_informe.patologias}}
            <tr>
                <td>{{this.nombre}}</td>
                <td colspan="3">{{{this.descripcion}}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</section>
</body>
</html>
