<!DOCTYPE html>
<html lang="es">
<head>
    <title>Informe Médico</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .header {
            text-align: center;
            margin-bottom: 50px;
        }
        .section {
            margin-bottom: 30px;
        }
        .section .title {
            font-weight: bold;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div class="header">
    <h1>Informe Médico</h1>
    <h2>Informe ID: {{datos_informe.informe_id}}</h2>
</div>

<div class="section">
    <div class="title">Datos del Paciente:</div>
    <p>Nombre: {{datos_paciente.paciente_nombre}} {{datos_paciente.paciente_primer_apellido}} {{datos_paciente.paciente_segundo_apellido}}</p>
    <p>Número de Historia Clínica: {{datos_paciente.num_historia_clinica}}</p>
</div>

<div class="section">
    <div class="title">Datos del Especialista:</div>
    <p>Nombre: {{datos_especialista.especialista_nombre}} {{datos_especialista.especialista_primer_apellido}} {{datos_especialista.especialista_segundo_apellido}}</p>
    <p>Número de Colegiado: {{datos_especialista.num_colegiado}}</p>
    <p>Especialidad: {{datos_especialista.especialidad}}</p>
</div>

<div class="section">
    <div class="title">Datos de la Cita:</div>
    <p>Fecha: {{datos_cita.fecha}}</p>
    <p>Hora: {{datos_cita.hora}}</p>
</div>

<div class="section">
    <div class="title">Datos del Informe:</div>
    <p>Motivo: {{datos_informe.motivo}}</p>
    <p>Patología: {{datos_informe.patologia}}</p>
    <p>Contenido: {{datos_informe.contenido}}</p>
</div>
</body>
</html>