<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Receta de Medicamentos</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        table {
            border-collapse: collapse;
            margin: 0 auto;
        }

        thead {
            background-color: #adabab;
        }

        th, td {
            border: 2px solid black;
            padding: 5px;
            text-align: center;
        }

        tbody tr:nth-child(odd) {
            background-color: #d5d0d0;
        }

        .fecha {
            margin-top: 2rem;
            text-align: right;
        }

        .medicamento {
            page-break-inside: avoid;
        }
    </style>
</head>
<body>
<h1 style="text-align: center;">Receta de Medicamentos</h1>
<p><strong>Paciente: </strong>{{paciente.nombre}} {{paciente.primer_apellido}} {{paciente.segundo_apellido}}</p>
<p><strong>Número de Historia Clínica: </strong>{{paciente.num_historia_clinica}}</p>
{{#each prescripcion}}
    <section class="medicamento">
        <h2>{{nombre}}</h2>
        <p><strong>Descripción: </strong>{{descripcion}}</p>
        <table>
            <thead>
            <tr>
                <th>Hora</th>
                <th>Dosis</th>
                <th>Fecha de inicio</th>
                <th>Fecha de fin</th>
                <th>Observaciones</th>
            </tr>
            </thead>
            <tbody>
            {{#each tomas}}
                <tr>
                    <td>{{hora}}</td>
                    <td>{{dosis}}</td>
                    <td>{{fecha_inicio}}</td>
                    <td>{{fecha_fin}}</td>
                    <td>{{observaciones}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </section>
{{/each}}
<p class="fecha">Coslada, a {{fecha}}</p>
</body>
</html>